.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.heading {
  text-transform: uppercase;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
}

.subHeading {
  font-weight: normal;
}

.notAvailable {
  font-style: italic;
}

.button {
  display: flex;
  gap: 10px;
}
