.toggleButton,
.editButton,
.applyButton {
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  font-weight: bold;
}

.editButton,
.applyButton {
  padding: 8px;
  flex: 1;
  margin-top: 20px;
}

.toggleButton {
  padding: 4px;
}

.chevronIcon {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.chevronIcon.rotate {
  transform: rotate(-180deg);
}
