.addButton,
.toggleButton,
.editButton,
.applyButton,
.backButton,
.removeButton {
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
  /* font-weight: bold; */
}

.editButton,
.applyButton,
.backButton,
.removeButton {
  padding: 8px;
  margin-top: 20px;
}

.addButton,
.toggleButton {
  padding: 4px;
}

.removeButton {
  background-color: #ef4444;
  color: #ffffff;
}

.plusIcon,
.chevronIcon {
  width: 16px;
  height: 16px;
}

.chevronIcon {
  transition: transform 0.3s ease;
}

.chevronIcon.rotate {
  transform: rotate(-180deg);
}
