/* Personal Details */
.personal-details-preview-container,
.education-preview-container,
.experience-preview-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.personal-details-preview-container {
  justify-content: space-between;
  flex-direction: row;
}

.personal-details-preview-title,
.education-preview-title,
.experience-preview-title {
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}

.phone-email-address {
  display: flex;
  flex-direction: column;
}

.phone-email-address img {
  width: 20px;
  height: 20px;
}

.phone,
.email,
.address {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* Education */
.education-preview-details {
  display: flex;
  justify-content: space-between;
}

.field-university-degree {
  display: flex;
  flex-direction: column;
}

/* Experience*/
.experience-preview-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.title-company-start-end {
  display: flex;
  justify-content: space-between;
}
