.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000000;
}

.headingToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.input,
.textarea {
  margin-top: 4px;
  padding: 8px;
  border-radius: 4px;
  border: transparent;
}

.input {
  background-color: #f0f0f0;
}

.textarea {
  resize: vertical;
  background-color: #f0f0f0;
  line-height: inherit;
}

.endActive {
  display: flex;
  flex-direction: column;
}

.isCurrentlyActive {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.label.isCurrentlyActive {
  font-weight: initial;
}

.input.isCurrentlyActive {
  cursor: pointer;
  margin: 0;
}

.button {
  display: flex;
  gap: 10px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
