.overviewContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.headingButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-weight: normal;
}

.buttons {
  display: flex;
  gap: 4px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  text-decoration: none;
}

.subHeading {
  font-weight: normal;
}

.notAvailable {
  font-style: italic;
}
