/* Grouping */
.personalDetailsContainer,
.educationContainer,
.experienceContainer,
.projectContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.5;
}

.educationHeading,
.experienceHeading,
.projectHeading {
  border-bottom: 1px solid #000000;
}

.educationDetailsContainer,
.experienceDetailsContainer,
.projectDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.separator {
  margin: 0 2px;
}

/* Personal Details */
.personalDetailsContainer {
  justify-content: space-between;
  flex-direction: row;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.phone,
.email,
.address {
  display: flex;
  gap: 4px;
  align-items: center;
}

/* Education */
.educationDetails {
  display: flex;
  justify-content: space-between;
}

.fieldSchoolDegree {
  display: flex;
  flex-direction: column;
}

/* Experience */
.experienceDetails {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.titleCompanyStartEnd {
  display: flex;
  justify-content: space-between;
}

.responsibility {
  list-style-type: none;
  padding-left: 14px;
  text-indent: -14px;
}

.responsibility::before {
  content: "- ";
}

/* Project */
.projectDetails {
  display: flex;
  flex-direction: column;
}

.link {
  text-decoration: none;
}
