.app-container {
  display: grid;
  padding: 20px;
  margin: 20px;
  gap: 20px;
  grid-template-columns: 1.8fr 2.8fr;
  line-height: 1.5;
}

.form-container,
.cv-preview-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid #000000;
}
