.app-container {
  display: flex;
  padding: 20px;
  justify-content: space-evenly;
}

.form-container,
.cv-preview-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border: 1px solid rgb(0, 0, 0);
}

.form-container {
  width: 400px;
}

.cv-preview-container {
  width: 793px;
}
