.educationContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000000;
}

.headingAddToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addToggle {
  display: flex;
  gap: 4px;
}

.formOverview {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
